In [229]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

In [230]:
df = pd.read_csv("real_estate_data.csv", low_memory=False, index_col="id")

In [231]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
id,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,NaN,210000.0,TRY

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403487 entries, 1 to 403487
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               403487 non-null  object
 1   sub_type           403487 non-null  object
 2   start_date         403487 non-null  object
 3   end_date           266298 non-null  object
 4   listing_type       403487 non-null  int64
 5   tom                403487 non-null  int64
 6   building_age       376097 non-null  object
 7   total_floor_count  375466 non-null  object
 8   floor_no           368191 non-null  object
 9   room_count         403487 non-null  object
 10  size               257481 non-null  float64
 11  address            403487 non-null  object
 12  furnished          0 non-null       float64
 13  heating_type       375517 non-null  object
 14  price              402772 non-null  float64
 15  price_currency     402772 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 52.3+ MB

In [233]:
df.head(10)

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
id,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
6,Konut,Rezidans,11/9/18,12/9/18,1,30,2,10-20 arası,10,1+1,45.0,İstanbul/Maltepe/Altayçeşme,NaN,Fancoil,780000.0,TRY
7,Konut,Daire,1/4/19,NaN,2,54,0,20 ve üzeri,14,3+1,160.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3750.0,TRY
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,NaN,Fancoil,1500000.0,TRY
9,Konut,Daire,2/16/19,NaN,1,11,NaN,2,Kot 2,3+1,140.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),NaN,Fancoil,1500000.0,TRY
10,Konut,Daire,12/26/18,12/26/18,1,0,1,1,Asma Kat,2+2,550.0,İstanbul/Fatih/Sarıdemir,NaN,Fancoil,84256.0,GBP

In [234]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             137189
listing_type              0
tom                       0
building_age          27390
total_floor_count     28021
floor_no              35296
room_count                0
size                 146006
address                   0
furnished            403487
heating_type          27970
price                   715
price_currency          715
dtype: int64

In [235]:
df.drop(columns='furnished', inplace=True)

In [236]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [237]:
df.dropna(subset='price', inplace=True)

In [238]:
df[df['price'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [239]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             136474
listing_type              0
tom                       0
building_age          26992
total_floor_count     27649
floor_no              34698
room_count                0
size                 145392
address                   0
heating_type          27580
price                     0
price_currency            0
dtype: int64

In [240]:
delete = df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]
delete

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
375518,Konut,Villa,12/19/18,NaN,1,70,NaN,NaN,NaN,2+1,95.0,Tekirdağ/Muratlı/Yeşilsırt,NaN,180000.0,TRY
376246,Konut,Daire,11/27/18,NaN,1,92,NaN,NaN,NaN,3+1,NaN,Kocaeli/Gölcük/Piyalepaşa,NaN,185000.0,TRY
376262,Konut,Daire,2/7/19,NaN,2,20,NaN,NaN,NaN,2+1,80.0,İstanbul/Bayrampaşa/Muratpaşa,NaN,1200.0,TRY
376264,Konut,Daire,1/24/19,NaN,1,34,NaN,NaN,NaN,2+1,110.0,Çanakkale/Biga/Sakarya,NaN,155000.0,TRY
376268,Konut,Daire,1/18/19,NaN,1,40,NaN,NaN,NaN,2+1,95.0,Aydın/Kuşadası/Davutlar,NaN,230000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403477,Konut,Daire,2/11/19,NaN,1,16,NaN,NaN,NaN,3+1,110.0,Ankara/Mamak/Araplar,NaN,200000.0,TRY
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY

In [241]:
df.drop(delete.index, inplace=True)

In [242]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403478,Konut,Daire,9/12/18,10/2/18,2,20,NaN,NaN,NaN,2+1,NaN,Konya/Selçuklu/Hanaybaşı,NaN,850.0,TRY
403479,Konut,Daire,10/12/18,11/11/18,1,30,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,500000.0,TRY
403480,Konut,Daire,9/12/18,11/20/18,2,69,NaN,NaN,NaN,3+1,NaN,Aydın/Kuşadası/Türkmen,NaN,1700.0,TRY
403481,Konut,Daire,9/25/18,1/23/19,1,120,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,185000.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [243]:
delete = df[df['floor_no'].isna() & df['total_floor_count'].isna()]
delete

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
210,Konut,Daire,2/15/19,NaN,1,12,0,NaN,NaN,3+1,120.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),Fancoil,1350000.0,TRY
234,Konut,Daire,2/25/19,NaN,2,2,NaN,NaN,NaN,1+1,45.0,Antalya/Muratpaşa/Muratpaşa,Fancoil,100.0,TRY
580,Konut,Daire,2/19/19,NaN,1,8,4,NaN,NaN,2+1,85.0,Muğla/Bodrum/Bitez,Yok,530000.0,TRY
646,Konut,Villa,1/29/19,NaN,1,29,2,NaN,NaN,5+1,160.0,İzmir/Çeşme/Çiftlik,Yok,920000.0,TRY
658,Konut,Villa,1/29/19,NaN,1,29,21-25 arası,NaN,NaN,3+2,250.0,İzmir/Çeşme/Alaçatı,Yok,885000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403478,Konut,Daire,9/12/18,10/2/18,2,20,NaN,NaN,NaN,2+1,NaN,Konya/Selçuklu/Hanaybaşı,NaN,850.0,TRY
403479,Konut,Daire,10/12/18,11/11/18,1,30,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,500000.0,TRY
403480,Konut,Daire,9/12/18,11/20/18,2,69,NaN,NaN,NaN,3+1,NaN,Aydın/Kuşadası/Türkmen,NaN,1700.0,TRY
403481,Konut,Daire,9/25/18,1/23/19,1,120,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,185000.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [244]:
df.drop(delete.index, inplace=True)

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380891 entries, 1 to 394927
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               380891 non-null  object
 1   sub_type           380891 non-null  object
 2   start_date         380891 non-null  object
 3   end_date           253583 non-null  object
 4   listing_type       380891 non-null  int64
 5   tom                380891 non-null  int64
 6   building_age       373215 non-null  object
 7   total_floor_count  375123 non-null  object
 8   floor_no           368074 non-null  object
 9   room_count         380891 non-null  object
 10  size               248130 non-null  float64
 11  address            380891 non-null  object
 12  heating_type       372529 non-null  object
 13  price              380891 non-null  float64
 14  price_currency     380891 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 46.5+ MB

In [246]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             127308
listing_type              0
tom                       0
building_age           7676
total_floor_count      5768
floor_no              12817
room_count                0
size                 132761
address                   0
heating_type           8362
price                     0
price_currency            0
dtype: int64

In [247]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394883,Konut,Müstakil Ev,10/4/18,11/5/18,1,32,26-30 arası,1,NaN,2+1,NaN,KKTC/İskele/Boğaz Mh.,NaN,35000.0,GBP
394903,Konut,Prefabrik Ev,12/4/18,1/3/19,1,30,NaN,1,NaN,1+1,40.0,İstanbul/Pendik/Kaynarca,NaN,31500.0,TRY
394917,Konut,Müstakil Ev,12/18/18,2/16/19,1,60,0,2,NaN,5+2,315.0,Muğla/Bodrum/Gündoğan,NaN,5500000.0,TRY
394924,Konut,Daire,9/25/18,9/27/18,2,2,16-20 arası,4,NaN,1+1,NaN,Muğla/Marmaris/Kemeraltı,NaN,800.0,TRY
394927,Konut,Daire,11/27/18,NaN,2,92,NaN,3,NaN,1+1,85.0,Bursa/Nilüfer/Çalı,NaN,700.0,TRY

In [248]:
df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [249]:
df[df['total_floor_count'].isna() & df['floor_no'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [250]:
df[df['size'].isna()]

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,Fancoil,1500000.0,TRY
13,Konut,Daire,9/13/18,10/13/18,1,30,0,3,2,2+1,NaN,Aydın/Efeler/Ata,Fancoil,270000.0,TRY
14,Konut,Rezidans,10/3/18,11/2/18,1,30,0,10-20 arası,11,2+1,NaN,Mersin/Yenişehir/Akkent,Fancoil,270000.0,TRY
15,Konut,Daire,9/22/18,NaN,1,158,1,4,3,3+1,NaN,Manisa/Turgutlu/Şehitler,Fancoil,75000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394823,Konut,Daire,9/26/18,11/25/18,1,60,0,4,NaN,3+1,NaN,İstanbul/Küçükçekmece/Yeşilova,NaN,430000.0,TRY
394855,Konut,Daire,10/15/18,11/7/18,1,23,0,5,NaN,2+1,NaN,Manisa/Turgutlu/Cumhuriyet,NaN,60000.0,TRY
394878,Konut,Daire,10/11/18,10/11/18,1,0,0,6,NaN,3+1,NaN,Bursa/Osmangazi/Hamitler,NaN,350000.0,TRY
394883,Konut,Müstakil Ev,10/4/18,11/5/18,1,32,26-30 arası,1,NaN,2+1,NaN,KKTC/İskele/Boğaz Mh.,NaN,35000.0,GBP
394924,Konut,Daire,9/25/18,9/27/18,2,2,16-20 arası,4,NaN,1+1,NaN,Muğla/Marmaris/Kemeraltı,NaN,800.0,TRY

In [251]:
df.sub_type.value_counts()

sub_type
Daire                  336511
Villa                   19563
Müstakil Ev              8050
Rezidans                 7237
Yazlık                   5603
Komple Bina              2415
Prefabrik Ev              516
Çiftlik Evi               443
Köşk / Konak / Yalı       276
Yalı Dairesi              180
Kooperatif                 65
Loft                       32
Name: count, dtype: int64

In [252]:
df.sub_type.unique()

array(['Rezidans', 'Daire', 'Villa', 'Müstakil Ev', 'Kooperatif',
       'Yazlık', 'Komple Bina', 'Prefabrik Ev', 'Köşk / Konak / Yalı',
       'Çiftlik Evi', 'Yalı Dairesi', 'Loft'], dtype=object)

In [253]:
dct = {}
i = 1
for name in df.sub_type.unique():
    dct[name] = i
    i+=1
dct

{'Rezidans': 1,
 'Daire': 2,
 'Villa': 3,
 'Müstakil Ev': 4,
 'Kooperatif': 5,
 'Yazlık': 6,
 'Komple Bina': 7,
 'Prefabrik Ev': 8,
 'Köşk / Konak / Yalı': 9,
 'Çiftlik Evi': 10,
 'Yalı Dairesi': 11,
 'Loft': 12}

In [254]:
df['sub_type'] = df['sub_type'].map(dct)

In [255]:
df.drop('type',axis=1, inplace=True)
df.rename(columns={'sub_type': 'type'}, inplace=True)

In [256]:
df

,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,
1,1,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,2,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,2,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,1,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,1,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394883,4,10/4/18,11/5/18,1,32,26-30 arası,1,NaN,2+1,NaN,KKTC/İskele/Boğaz Mh.,NaN,35000.0,GBP
394903,8,12/4/18,1/3/19,1,30,NaN,1,NaN,1+1,40.0,İstanbul/Pendik/Kaynarca,NaN,31500.0,TRY
394917,4,12/18/18,2/16/19,1,60,0,2,NaN,5+2,315.0,Muğla/Bodrum/Gündoğan,NaN,5500000.0,TRY
394924,2,9/25/18,9/27/18,2,2,16-20 arası,4,NaN,1+1,NaN,Muğla/Marmaris/Kemeraltı,NaN,800.0,TRY
394927,2,11/27/18,NaN,2,92,NaN,3,NaN,1+1,85.0,Bursa/Nilüfer/Çalı,NaN,700.0,TRY

In [257]:
df.total_floor_count.value_counts()

total_floor_count
4              83046
3              77933
5              70019
10-20 arası    36505
2              27732
6              23192
10             12549
7              12278
8              11204
9               9024
20 ve üzeri     6678
1               4963
Name: count, dtype: int64

In [258]:
df['total_floor_count'].isna().value_counts()

total_floor_count
False    375123
True       5768
Name: count, dtype: int64

In [259]:
df.floor_no.value_counts()

floor_no
2               65847
3               52676
1               46749
4               34456
Yüksek Giriş    24037
5               21186
Müstakil        21161
Bahçe katı      19059
Giriş Katı      10424
6                9742
7                7696
8                6098
Kot 1            5028
Kot 2            4984
9                4855
10               3863
Kot 3            3785
Çatı Katı        3565
Zemin Kat        3440
Komple           2958
11               2892
12               2309
Kot 4            2265
13               1701
20 ve üzeri      1562
14               1328
15                911
En Üst Kat        894
Bodrum Kat        814
16                600
17                373
18                334
Teras Kat         293
19                177
Asma Kat           12
Name: count, dtype: int64

### Giriş Katı - Цокольный этаж
### Müstakil - Дом
### Bahçe katı - садовый этаж
### Yüksek Giriş - 1 этаж
### Kot - просто этаж но по умному
### Teras Kat - Терасса
### Asma Kat - надстройка
### Zemin Kat - Цокольный
### Çatı Katı - пентхаус

In [260]:
df.drop(df[df['floor_no'] == 'Asma Kat'].index, axis=0, inplace=True)

In [261]:
df.replace(to_replace=['Zemin Kat', 'Giriş Katı'], value=0, inplace=True)

In [262]:
def process_floor_no(value):
    if pd.isna(value):
        return 0
    
    str_value = str(value)
    
    # Если значение содержит только буквы и/или пробелы (без цифр)
    if str_value.replace(' ', '').isalpha():
        return 0
    
    # Извлекаем цифры из смешанных значений
    digits = ''.join(filter(str.isdigit, str_value))
    return int(digits) if digits else 0

df['floor_no'] = df['floor_no'].apply(process_floor_no)

In [263]:
df.floor_no.value_counts()

floor_no
0     99462
2     70831
3     56461
1     51777
4     36721
5     21186
6      9742
7      7696
8      6098
9      4855
10     3863
11     2892
12     2309
13     1701
20     1562
14     1328
15      911
16      600
17      373
18      334
19      177
Name: count, dtype: int64

In [264]:
df.total_floor_count.value_counts()

total_floor_count
4              83045
3              77931
5              70017
10-20 arası    36505
2              27731
6              23192
10             12548
7              12277
8              11204
9               9024
20 ve üzeri     6677
1               4960
Name: count, dtype: int64

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380879 entries, 1 to 394927
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               380879 non-null  int64
 1   start_date         380879 non-null  object
 2   end_date           253576 non-null  object
 3   listing_type       380879 non-null  int64
 4   tom                380879 non-null  int64
 5   building_age       373203 non-null  object
 6   total_floor_count  375111 non-null  object
 7   floor_no           380879 non-null  int64
 8   room_count         380879 non-null  object
 9   size               248123 non-null  float64
 10  address            380879 non-null  object
 11  heating_type       372517 non-null  object
 12  price              380879 non-null  float64
 13  price_currency     380879 non-null  object
dtypes: float64(2), int64(4), object(8)
memory usage: 43.6+ MB

In [266]:
df.isna().sum()

type                      0
start_date                0
end_date             127303
listing_type              0
tom                       0
building_age           7676
total_floor_count      5768
floor_no                  0
room_count                0
size                 132756
address                   0
heating_type           8362
price                     0
price_currency            0
dtype: int64

In [267]:
df = df[df['building_age'].notna()]
df = df[df['total_floor_count'].notna()]
df = df[df['floor_no'].notna()]

In [268]:
df.isna().sum()

type                      0
start_date                0
end_date             122916
listing_type              0
tom                       0
building_age              0
total_floor_count         0
floor_no                  0
room_count                0
size                 128825
address                   0
heating_type           5819
price                     0
price_currency            0
dtype: int64

In [269]:
df['end_date'].fillna('Активно', inplace=True)
df['heating_type'].fillna('Без обогрева',inplace=True)

C:\Users\MOiBD\AppData\Local\Temp\ipykernel_10616\1843847844.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['end_date'].fillna('Активно', inplace=True)
C:\Users\MOiBD\AppData\Local\Temp\ipykernel_10616\1843847844.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['heating_type'].fillna('Без обогрева',inplace=True)

In [270]:
df.isna().sum()

type                      0
start_date                0
end_date                  0
listing_type              0
tom                       0
building_age              0
total_floor_count         0
floor_no                  0
room_count                0
size                 128825
address                   0
heating_type              0
price                     0
price_currency            0
dtype: int64

In [271]:
df['price_currency'].value_counts()

price_currency
TRY    367164
EUR       774
GBP       476
USD       467
Name: count, dtype: int64

In [272]:
exchange_rates = {
    'EUR': 48.08,
    'GBP': 55.0,
    'USD': 79.78,
    'TRY': 1
}

for i, row in df.iterrows():
    curr = row['price_currency']
    if curr in ['GBP', 'USD', 'TRY']:
        df.at[i, 'price'] = row['price'] * (exchange_rates[curr] / exchange_rates['EUR'])
        df.at[i, 'price_currency'] = 'EUR'

df.price_currency.value_counts()

price_currency
EUR    368881
Name: count, dtype: int64

In [273]:
pd.options.display.float_format = '{:.1f}'.format

In [274]:
df['price'] = df['price'].round(1)

In [275]:
df.describe()

          type  listing_type      tom  floor_no     size      price
count 368881.0      368881.0 368881.0  368881.0 240056.0   368881.0
mean       2.2           1.3     56.9       2.7    272.3    10360.6
std        0.8           0.5     44.0       3.1   9337.1   164304.2
min        1.0           1.0      0.0       0.0      1.0       -5.2
25%        2.0           1.0     29.0       0.0     85.0       57.2
50%        2.0           1.0     39.0       2.0    110.0     4263.7
75%        2.0           2.0     90.0       4.0    140.0     7279.5
max       11.0           3.0    180.0      20.0 948235.0 43142262.9

In [276]:
df_to_pairplot = df[['price', 'size']]

In [277]:
df.loc[df['size'].idxmax()]

type                                                   2
start_date                                       12/6/18
end_date                                         12/6/18
listing_type                                           1
tom                                                    0
building_age                                           5
total_floor_count                                      3
floor_no                                               0
room_count                                           9+5
size                                            948235.0
address              Ankara/Elmadağ/Hasanoğlan Havuzbaşı
heating_type                            Kombi (Doğalgaz)
price                                           516416.2
price_currency                                       EUR
Name: 126479, dtype: object

In [278]:
df.loc[df['price']<0]

,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,
350368,4,1/29/19,Активно,2,29,6-10 arası,2,0,3+1,95.0,İzmir/Kemalpaşa/Beşpınar,Soba (Kömür),-5.2,EUR

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 368881 entries, 1 to 394924
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               368881 non-null  int64
 1   start_date         368881 non-null  object
 2   end_date           368881 non-null  object
 3   listing_type       368881 non-null  int64
 4   tom                368881 non-null  int64
 5   building_age       368881 non-null  object
 6   total_floor_count  368881 non-null  object
 7   floor_no           368881 non-null  int64
 8   room_count         368881 non-null  object
 9   size               240056 non-null  float64
 10  address            368881 non-null  object
 11  heating_type       368881 non-null  object
 12  price              368881 non-null  float64
 13  price_currency     368881 non-null  object
dtypes: float64(2), int64(4), object(8)
memory usage: 50.3+ MB

In [280]:
df_sell = df[df['listing_type'] == 1]
df_rent = df[df['listing_type'] == 2]
df_sell.reset_index(inplace=True)
df_rent.reset_index(inplace=True)

In [281]:
df_rent[df_rent['size'] > 1000]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
146,602,7,11/18/18,1/19/19,2,62,16-20 arası,3,0,+,1350.0,İstanbul/Esenyurt/Osmangazi,Yok,520.0,EUR
205,882,7,10/3/18,Активно,2,147,0,5,0,+,2500.0,Samsun/Tekkeköy/Şabanoğlu,Yok,416.0,EUR
263,1168,7,12/14/18,Активно,2,75,0,2,0,+,1800.0,İstanbul/Başakşehir/Kayabaşı,Yok,2495.8,EUR
291,1342,7,2/20/19,2/20/19,2,0,0,2,0,+,1800.0,İstanbul/Başakşehir/Kayabaşı,Yok,2495.8,EUR
366,1734,7,2/5/19,Активно,2,22,6-10 arası,9,0,+,4000.0,İstanbul/Büyükçekmece/Pınartepe,Yok,41597.3,EUR
379,1792,7,1/5/19,2/4/19,2,30,0,2,0,+,1799.0,İstanbul/Başakşehir/Kayabaşı,Yok,2495.8,EUR
6554,25978,7,12/7/18,1/6/19,2,30,1,3,0,+,1400.0,Muğla/Marmaris/Çamdibi,Klima,624.0,EUR
6663,26456,7,2/21/19,Активно,2,6,0,10,0,+,9800.0,İstanbul/Ataşehir/Küçükbakkalköy,Klima,8007.5,EUR
6991,27936,7,1/25/19,Активно,2,33,16-20 arası,7,0,+,2400.0,Antalya/Muratpaşa/Çaybaşı,Klima,624.0,EUR
7376,29910,7,1/31/19,Активно,2,27,0,1,0,+,5900.0,Aydın/Kuşadası/Bayraklıdede,Klima,1559.9,EUR
7395,30022,7,2/12/19,Активно,2,15,0,10,0,+,8900.0,İstanbul/Ataşehir/Küçükbakkalköy,Klima,7903.5,EUR
13959,59993,2,1/10/19,2/1/19,2,22,4,10-20 arası,0,1+1,1690.0,İstanbul/Küçükçekmece/Atakent,Klima,35.4,EUR
20424,91425,7,10/20/18,2/18/19,2,121,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
20608,92325,7,2/13/19,Активно,2,14,2,3,0,+,1900.0,İstanbul/Şişli/Esentepe,Kombi (Doğalgaz),2495.8,EUR
20782,93021,7,10/20/18,1/19/19,2,91,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
21348,94999,7,2/13/19,Активно,2,14,0,4,0,+,1100.0,İstanbul/Şişli/Esentepe,Kombi (Doğalgaz),1871.9,EUR
21959,97367,7,11/26/18,12/26/18,2,30,0,5,0,+,1860.0,İstanbul/Pendik/Doğu,Kombi (Doğalgaz),624.0,EUR
22227,98413,7,10/20/18,11/19/18,2,30,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
22318,98743,7,11/23/18,Активно,2,96,16-20 arası,6,0,+,2000.0,İstanbul/Kağıthane/Yeşilce,Kombi (Doğalgaz),1663.9,EUR
22453,99231,7,10/27/18,Активно,2,123,0,2,0,+,1050.0,Afyonkarahisar/Merkez/Erkmen Bld. (Cumhuriyet),Kombi (Doğalgaz),312.0,EUR
23578,103917,7,1/21/19,Активно,2,37,0,3,0,+,2800.0,İstanbul/Sancaktepe/Osmangazi,Kombi (Doğalgaz),935.9,EUR
23585,103953,7,10/20/18,12/19/18,2,60,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
23671,104345,7,1/29/19,Активно,2,29,4,4,0,+,4300.0,İstanbul/Avcılar/Denizköşkler,Kombi (Doğalgaz),2391.8,EUR
24296,106727,7,11/30/18,Активно,2,89,31-35 arası,5,0,+,1500.0,İstanbul/Bakırköy/Cevizlik,Kombi (Doğalgaz),1247.9,EUR
25254,110470,2,11/10/18,11/21/18,2,11,4,4,0,2+1,1100.0,İstanbul/Bahçelievler/Bahçelievler,Kombi (Doğalgaz),22.9,EUR
25692,112245,9,10/23/18,Активно,2,127,40 ve üzeri,5,0,10+0,1500.0,İstanbul/Beyoğlu/Kemankeş Karamustafa Paşa,Kombi (Doğalgaz),3119.8,EUR
25791,112717,7,12/24/18,1/23/19,2,30,21-25 arası,5,0,+,1950.0,İstanbul/Avcılar/Merkez,Kombi (Doğalgaz),935.9,EUR
25871,113055,7,1/31/19,Активно,2,27,0,10,0,+,1760.0,İstanbul/Maltepe/Zümrütevler,Kombi (Doğalgaz),728.0,EUR
26202,114331,7,11/23/18,Активно,2,96,3,7,0,+,1500.0,İstanbul/Kağıthane/Yeşilce,Kombi (Doğalgaz),665.6,EUR
26240,114479,3,10/15/18,1/13/19,2,90,0,3,0,10+0,3450.0,İstanbul/Beylikdüzü/Gürpınar,Kombi (Doğalgaz),1975.9,EUR
26416,115199,3,10/28/18,Активно,2,122,6-10 arası,2,0,5+1,2200.0,İstanbul/Büyükçekmece/Türkoba,Kombi (Doğalgaz),208.0,EUR
26425,115233,7,11/26/18,1/26/19,2,61,0,5,0,+,1860.0,İstanbul/Pendik/Doğu,Kombi (Doğalgaz),624.0,EUR
26508,115533,7,12/13/18,1/28/19,2,46,26-30 arası,9,0,+,2950.0,İstanbul/Bayrampaşa/İsmet Paşa,Kombi (Doğalgaz),1663.9,EUR
30048,129336,3,2/23/19,Активно,2,4,6-10 arası,1,0,5+1,1500.0,İstanbul/Çatalca/Kabakça,Kombi (Doğalgaz),104.0,EUR
50509,200492,2,9/10/18,11/12/18,2,63,0,6,3,3+1,1401.0,İstanbul/Esenyurt/Mehterçeşme,Kombi (Doğalgaz),9671.4,EUR
83582,308525,2,11/14/18,Активно,2,105,16-20 arası,5,2,3+1,1170.0,İzmir/Gaziemir/Sevgi,Merkezi Sistem (Isı Payı Ölçer),36.4,EUR
86224,316931,2,11/7/18,12/26/18,2,49,0,10-20 arası,2,5+1,1600.0,Mersin/Mezitli/Akdeniz,Merkezi Sistem (Isı Payı Ölçer),33.3,EUR
89037,325538,7,12/10/18,1/9/19,2,30,0,3,0,+,1500.0,Mersin/Yenişehir/Batıkent,Merkezi Sistem,592.8,EUR
89088,325754,7,1/17/19,2/15/19,2,29,26-30 arası,7,0,+,1700.0,İstanbul/Sarıyer/Reşitpaşa,Merkezi Sistem,790.3,EUR
89130,325934,7,1/26/19,Активно,2,32,16-20 arası,6,0,+,1480.0,Denizli/Pamukkale/Yunusemre,Merkezi Sistem,416.0,EUR
89239,326318,7,11/23/18,Активно,2,96,16-20 arası,7,0,+,3500.0,İstanbul/Kağıthane/Sultan Selim,Merkezi Sistem,1247.9,EUR
89559,327516,7,12/10/18,2/21/19,2,73,0,3,0,+,1500.0,Mersin/Yenişehir/Batıkent,Merkezi Sistem,592.8,EUR
89649,327814,7,11/23/18,Активно,2,96,0,7,0,+,1200.0,İstanbul/Kağıthane/Yeşilce,Merkezi Sistem,707.2,EUR
89773,328260,7,12/13/18,Активно,2,76,6-10 arası,6,0,+,1600.0,İstanbul/Beylikdüzü/Yakuplu,Merkezi Sistem,468.0,EUR
89787,328324,7,2/2/19,Активно,2,25,6-10 arası,7,0,+,2000.0,İstanbul/Üsküdar/Kısıklı,Merkezi Sistem,1351.9,EUR
90036,329278,7,1/24/19,2/23/19,2,30,26-30 arası,8,0,+,5950.0,İstanbul/Güngören/Mehmet Nesih Özmen,Merkezi Sistem,1663.9,EUR
95476,348323,10,12/18/18,1/17/19,2,30,11-15 arası,1,0,3+1,1450.0,Antalya/Kepez/Varsak Karşıyaka,Soba (Kömür),41.6,EUR
100245,368101,10,2/24/19,Активно,2,3,0,1,0,2+1,1450.0,Düzce/Merkez/Nasırlı Köyü,Kalorifer (Akaryakıt),312.0,EUR
100945,370441,7,2/13/19,Активно,2,14,16-20 arası,3,0,+,1365.0,İzmir/Buca/Adatepe,Kat Kaloriferi,831.9,EUR
100997,371229,7,12/6/18,Активно,2,83,21-25 arası,7,0,+,3200.0,Ankara/Altındağ/Anafartalar,Kat Kaloriferi,831.9,EUR
101638,378088,7,1/17/19,Активно,2,41,0,6,0,+,3000.0,Samsun/İlkadım/Derecik,Без обогрева,1039.9,EUR
102107,382464,7,1/25/19,Активно,2,33,6-10 arası,4,0,+,2200.0,İstanbul/Sarıyer/İstinye,Без обогрева,9359.4,EUR
102337,384943,2,11/22/18,Активно,2,97,3,10,8,3+1,1800.0,İstanbul/Bağcılar/Demirkapı,Без обогрева,37.4,EUR
102827,393493,7,2/21/19,Активно,2,6,0,6,0,+,30000.0,İstanbul/Kağıthane/Sultan Selim,Без обогрева,41597.3,EUR

In [282]:
df_rent = df_rent.drop(df_rent[(df_rent['price'] < 150) & (df_rent['size'] > 1000)].index)

In [283]:
df_rent[df_rent['size'] > 1000]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
146,602,7,11/18/18,1/19/19,2,62,16-20 arası,3,0,+,1350.0,İstanbul/Esenyurt/Osmangazi,Yok,520.0,EUR
205,882,7,10/3/18,Активно,2,147,0,5,0,+,2500.0,Samsun/Tekkeköy/Şabanoğlu,Yok,416.0,EUR
263,1168,7,12/14/18,Активно,2,75,0,2,0,+,1800.0,İstanbul/Başakşehir/Kayabaşı,Yok,2495.8,EUR
291,1342,7,2/20/19,2/20/19,2,0,0,2,0,+,1800.0,İstanbul/Başakşehir/Kayabaşı,Yok,2495.8,EUR
366,1734,7,2/5/19,Активно,2,22,6-10 arası,9,0,+,4000.0,İstanbul/Büyükçekmece/Pınartepe,Yok,41597.3,EUR
379,1792,7,1/5/19,2/4/19,2,30,0,2,0,+,1799.0,İstanbul/Başakşehir/Kayabaşı,Yok,2495.8,EUR
6554,25978,7,12/7/18,1/6/19,2,30,1,3,0,+,1400.0,Muğla/Marmaris/Çamdibi,Klima,624.0,EUR
6663,26456,7,2/21/19,Активно,2,6,0,10,0,+,9800.0,İstanbul/Ataşehir/Küçükbakkalköy,Klima,8007.5,EUR
6991,27936,7,1/25/19,Активно,2,33,16-20 arası,7,0,+,2400.0,Antalya/Muratpaşa/Çaybaşı,Klima,624.0,EUR
7376,29910,7,1/31/19,Активно,2,27,0,1,0,+,5900.0,Aydın/Kuşadası/Bayraklıdede,Klima,1559.9,EUR
7395,30022,7,2/12/19,Активно,2,15,0,10,0,+,8900.0,İstanbul/Ataşehir/Küçükbakkalköy,Klima,7903.5,EUR
20424,91425,7,10/20/18,2/18/19,2,121,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
20608,92325,7,2/13/19,Активно,2,14,2,3,0,+,1900.0,İstanbul/Şişli/Esentepe,Kombi (Doğalgaz),2495.8,EUR
20782,93021,7,10/20/18,1/19/19,2,91,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
21348,94999,7,2/13/19,Активно,2,14,0,4,0,+,1100.0,İstanbul/Şişli/Esentepe,Kombi (Doğalgaz),1871.9,EUR
21959,97367,7,11/26/18,12/26/18,2,30,0,5,0,+,1860.0,İstanbul/Pendik/Doğu,Kombi (Doğalgaz),624.0,EUR
22227,98413,7,10/20/18,11/19/18,2,30,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
22318,98743,7,11/23/18,Активно,2,96,16-20 arası,6,0,+,2000.0,İstanbul/Kağıthane/Yeşilce,Kombi (Doğalgaz),1663.9,EUR
22453,99231,7,10/27/18,Активно,2,123,0,2,0,+,1050.0,Afyonkarahisar/Merkez/Erkmen Bld. (Cumhuriyet),Kombi (Doğalgaz),312.0,EUR
23578,103917,7,1/21/19,Активно,2,37,0,3,0,+,2800.0,İstanbul/Sancaktepe/Osmangazi,Kombi (Doğalgaz),935.9,EUR
23585,103953,7,10/20/18,12/19/18,2,60,16-20 arası,4,0,+,1400.0,Ankara/Altındağ/Ulubey,Kombi (Doğalgaz),332.8,EUR
23671,104345,7,1/29/19,Активно,2,29,4,4,0,+,4300.0,İstanbul/Avcılar/Denizköşkler,Kombi (Doğalgaz),2391.8,EUR
24296,106727,7,11/30/18,Активно,2,89,31-35 arası,5,0,+,1500.0,İstanbul/Bakırköy/Cevizlik,Kombi (Doğalgaz),1247.9,EUR
25692,112245,9,10/23/18,Активно,2,127,40 ve üzeri,5,0,10+0,1500.0,İstanbul/Beyoğlu/Kemankeş Karamustafa Paşa,Kombi (Doğalgaz),3119.8,EUR
25791,112717,7,12/24/18,1/23/19,2,30,21-25 arası,5,0,+,1950.0,İstanbul/Avcılar/Merkez,Kombi (Doğalgaz),935.9,EUR
25871,113055,7,1/31/19,Активно,2,27,0,10,0,+,1760.0,İstanbul/Maltepe/Zümrütevler,Kombi (Doğalgaz),728.0,EUR
26202,114331,7,11/23/18,Активно,2,96,3,7,0,+,1500.0,İstanbul/Kağıthane/Yeşilce,Kombi (Doğalgaz),665.6,EUR
26240,114479,3,10/15/18,1/13/19,2,90,0,3,0,10+0,3450.0,İstanbul/Beylikdüzü/Gürpınar,Kombi (Doğalgaz),1975.9,EUR
26416,115199,3,10/28/18,Активно,2,122,6-10 arası,2,0,5+1,2200.0,İstanbul/Büyükçekmece/Türkoba,Kombi (Doğalgaz),208.0,EUR
26425,115233,7,11/26/18,1/26/19,2,61,0,5,0,+,1860.0,İstanbul/Pendik/Doğu,Kombi (Doğalgaz),624.0,EUR
26508,115533,7,12/13/18,1/28/19,2,46,26-30 arası,9,0,+,2950.0,İstanbul/Bayrampaşa/İsmet Paşa,Kombi (Doğalgaz),1663.9,EUR
50509,200492,2,9/10/18,11/12/18,2,63,0,6,3,3+1,1401.0,İstanbul/Esenyurt/Mehterçeşme,Kombi (Doğalgaz),9671.4,EUR
89037,325538,7,12/10/18,1/9/19,2,30,0,3,0,+,1500.0,Mersin/Yenişehir/Batıkent,Merkezi Sistem,592.8,EUR
89088,325754,7,1/17/19,2/15/19,2,29,26-30 arası,7,0,+,1700.0,İstanbul/Sarıyer/Reşitpaşa,Merkezi Sistem,790.3,EUR
89130,325934,7,1/26/19,Активно,2,32,16-20 arası,6,0,+,1480.0,Denizli/Pamukkale/Yunusemre,Merkezi Sistem,416.0,EUR
89239,326318,7,11/23/18,Активно,2,96,16-20 arası,7,0,+,3500.0,İstanbul/Kağıthane/Sultan Selim,Merkezi Sistem,1247.9,EUR
89559,327516,7,12/10/18,2/21/19,2,73,0,3,0,+,1500.0,Mersin/Yenişehir/Batıkent,Merkezi Sistem,592.8,EUR
89649,327814,7,11/23/18,Активно,2,96,0,7,0,+,1200.0,İstanbul/Kağıthane/Yeşilce,Merkezi Sistem,707.2,EUR
89773,328260,7,12/13/18,Активно,2,76,6-10 arası,6,0,+,1600.0,İstanbul/Beylikdüzü/Yakuplu,Merkezi Sistem,468.0,EUR
89787,328324,7,2/2/19,Активно,2,25,6-10 arası,7,0,+,2000.0,İstanbul/Üsküdar/Kısıklı,Merkezi Sistem,1351.9,EUR
90036,329278,7,1/24/19,2/23/19,2,30,26-30 arası,8,0,+,5950.0,İstanbul/Güngören/Mehmet Nesih Özmen,Merkezi Sistem,1663.9,EUR
100245,368101,10,2/24/19,Активно,2,3,0,1,0,2+1,1450.0,Düzce/Merkez/Nasırlı Köyü,Kalorifer (Akaryakıt),312.0,EUR
100945,370441,7,2/13/19,Активно,2,14,16-20 arası,3,0,+,1365.0,İzmir/Buca/Adatepe,Kat Kaloriferi,831.9,EUR
100997,371229,7,12/6/18,Активно,2,83,21-25 arası,7,0,+,3200.0,Ankara/Altındağ/Anafartalar,Kat Kaloriferi,831.9,EUR
101638,378088,7,1/17/19,Активно,2,41,0,6,0,+,3000.0,Samsun/İlkadım/Derecik,Без обогрева,1039.9,EUR
102107,382464,7,1/25/19,Активно,2,33,6-10 arası,4,0,+,2200.0,İstanbul/Sarıyer/İstinye,Без обогрева,9359.4,EUR
102827,393493,7,2/21/19,Активно,2,6,0,6,0,+,30000.0,İstanbul/Kağıthane/Sultan Selim,Без обогрева,41597.3,EUR

In [284]:
df_rent = df_rent.drop(df_rent[(df_rent['price'] < 500) & (df_rent['size'] > 1000)].index)

In [285]:
df_rent[df_rent['price'] > 25000]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
366,1734,7,2/5/19,Активно,2,22,6-10 arası,9,0,+,4000.0,İstanbul/Büyükçekmece/Pınartepe,Yok,41597.3,EUR
392,1862,7,1/9/19,2/8/19,2,30,21-25 arası,3,0,+,350.0,İzmir/Bergama/Ertuğrul,Yok,37437.6,EUR
4810,17913,2,12/21/18,12/21/18,2,0,16-20 arası,6,3,2+1,NaN,İstanbul/Beyoğlu/Katip Mustafa Çelebi,Kalorifer (Kömür),36397.7,EUR
5502,20423,2,10/11/18,Активно,2,139,0,3,0,2+1,NaN,KKTC/Girne/Zeytinlik Mh.,Kombi (Elektrikli),116680.5,EUR
14609,62660,1,2/10/19,Активно,2,17,6-10 arası,20 ve üzeri,8,3+1,130.0,İstanbul/Sarıyer/Maslak,Klima,35981.7,EUR
20755,92931,2,1/27/19,Активно,2,31,6-10 arası,5,10,3+1,130.0,İstanbul/Bağcılar/Merkez,Kombi (Doğalgaz),10815307.8,EUR
21410,95243,7,1/17/19,Активно,2,41,16-20 arası,3,0,+,1000.0,İstanbul/Beykoz/Yavuz Selim,Kombi (Doğalgaz),159338.6,EUR
21694,96200,1,10/12/18,Активно,2,138,1,9,17,8+3,NaN,İstanbul/Avcılar/Cihangir,Kombi (Doğalgaz),28000.0,EUR
26190,114297,2,11/17/18,12/17/18,2,30,0,10-20 arası,10,4+1,NaN,İstanbul/Üsküdar/Ünalan,Kombi (Doğalgaz),93594.0,EUR
28377,122729,2,9/30/18,2/18/19,2,141,1,5,3,2+1,NaN,İstanbul/Tuzla/Yayla,Kombi (Doğalgaz),27038.3,EUR
29340,126345,3,2/3/19,Активно,2,24,11-15 arası,4,0,6+2,500.0,İstanbul/Beykoz/Acarlar,Kombi (Doğalgaz),102953.4,EUR
29469,126847,3,10/20/18,Активно,2,130,6-10 arası,1,0,5+2,NaN,İstanbul/Güngören/Tozkoparan,Kombi (Doğalgaz),116472.5,EUR
32629,137880,2,12/9/18,Активно,2,80,11-15 arası,3,0,2+1,80.0,Ankara/Keçiören/19 Mayıs,Kombi (Doğalgaz),32237.9,EUR
90950,332540,11,1/18/19,Активно,2,40,40 ve üzeri,5,4,3+1,NaN,İstanbul/Sarıyer/Baltalimanı,Merkezi Sistem,291181.4,EUR
92956,339641,2,9/1/18,10/1/18,2,30,0,5,1,3+1,NaN,İstanbul/Sultangazi/Eski Habipler,Merkezi Sistem,31198.0,EUR
93907,342905,2,10/18/18,11/17/18,2,30,0,10-20 arası,6,3+1,NaN,İstanbul/Sultangazi/Eski Habipler,Merkezi Sistem,33277.9,EUR
94184,343854,11,1/18/19,Активно,2,40,40 ve üzeri,5,4,3+1,NaN,İstanbul/Sarıyer/Baltalimanı,Merkezi Sistem,291181.4,EUR
95402,348030,2,9/3/18,Активно,2,177,0,9,1,3+1,NaN,İstanbul/Sultangazi/Eski Habipler,Merkezi Sistem,27038.3,EUR
99859,366660,3,9/5/18,9/5/18,2,0,11-15 arası,3,0,6+2,NaN,İstanbul/Eyüpsultan/Göktürk Merkez,Güneş Enerjisi,499168.1,EUR
102827,393493,7,2/21/19,Активно,2,6,0,6,0,+,30000.0,İstanbul/Kağıthane/Sultan Selim,Без обогрева,41597.3,EUR

In [286]:
df_rent = df_rent.drop(df_rent[(df_rent['price'] > 25000)].index)

In [287]:
df_rent[df_rent['price'] > 20000]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
6037,22724,1,1/16/19,Активно,2,42,6-10 arası,20 ve üzeri,20,2+1,95.0,İstanbul/Sarıyer/Maslak,Klima,20590.7,EUR
6202,23640,1,1/16/19,Активно,2,42,6-10 arası,20 ve üzeri,20,2+1,95.0,İstanbul/Sarıyer/Maslak,Klima,20590.7,EUR
6245,23921,6,9/27/18,Активно,2,153,2,1,1,3+1,NaN,Muğla/Bodrum/Gündoğan,Klima,23230.4,EUR
12749,54921,1,9/22/18,10/22/18,2,30,1,10-20 arası,8,4+1,NaN,İstanbul/Beşiktaş/Levazım,Klima,21571.1,EUR
28481,123148,2,10/6/18,1/4/19,2,90,0,5,3,3+1,NaN,İstanbul/Tuzla/İçmeler,Kombi (Doğalgaz),22878.5,EUR
35456,148203,2,9/30/18,2/18/19,2,141,4,5,0,2+1,NaN,İstanbul/Tuzla/Yayla,Kombi (Doğalgaz),23918.5,EUR
52534,207116,2,2/1/19,Активно,2,26,6-10 arası,3,3,3+1,120.0,İzmir/Buca/Yıldız,Kombi (Doğalgaz),22878.5,EUR
85975,315935,2,12/15/18,12/16/18,2,1,2,10-20 arası,4,3+1,135.0,İstanbul/Bağcılar/Bağlar,Merkezi Sistem (Isı Payı Ölçer),20382.7,EUR
93487,341459,2,9/5/18,10/5/18,2,30,6-10 arası,7,1,2+1,NaN,İstanbul/Sultangazi/Eski Habipler,Merkezi Sistem,22878.5,EUR

In [288]:
df_rent.room_count.value_counts()

room_count
3+1     39765
2+1     35860
1+1     14099
4+1      7600
5+1      1448
1+0      1074
4+2       753
3+2       514
5+2       511
6+1       275
6+2       229
+         209
2+2       179
7+1        76
7+2        63
8+1        38
8+2        24
10+0       23
6+3        16
4+3        14
5+3        10
9+3         8
9+1         6
10+2        5
10+1        4
7+3         4
9+2         3
8+3         2
15+5        1
Name: count, dtype: int64

In [289]:
def safe_sum_rooms(x):
    try:
        parts = list(map(int, x.split('+')))
        return sum(parts)
    except Exception:
        return None  # или np.nan, если импортирован numpy как np

df_rent['room_count'] = df_rent['room_count'].apply(safe_sum_rooms)

# Удаляем строки с некорректными значениями (где суммы нет)
df_rent = df_rent.dropna(subset=['room_count'])

In [290]:
df_rent.room_count.value_counts()

room_count
4.0     39944
3.0     35860
2.0     14099
5.0      8114
6.0      2201
1.0      1074
7.0       800
8.0       315
9.0       117
10.0       57
12.0       13
11.0        9
20.0        1
Name: count, dtype: int64

In [291]:
df_rent[df_rent['price'] > 20000]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
6037,22724,1,1/16/19,Активно,2,42,6-10 arası,20 ve üzeri,20,3.0,95.0,İstanbul/Sarıyer/Maslak,Klima,20590.7,EUR
6202,23640,1,1/16/19,Активно,2,42,6-10 arası,20 ve üzeri,20,3.0,95.0,İstanbul/Sarıyer/Maslak,Klima,20590.7,EUR
6245,23921,6,9/27/18,Активно,2,153,2,1,1,4.0,NaN,Muğla/Bodrum/Gündoğan,Klima,23230.4,EUR
12749,54921,1,9/22/18,10/22/18,2,30,1,10-20 arası,8,5.0,NaN,İstanbul/Beşiktaş/Levazım,Klima,21571.1,EUR
28481,123148,2,10/6/18,1/4/19,2,90,0,5,3,4.0,NaN,İstanbul/Tuzla/İçmeler,Kombi (Doğalgaz),22878.5,EUR
35456,148203,2,9/30/18,2/18/19,2,141,4,5,0,3.0,NaN,İstanbul/Tuzla/Yayla,Kombi (Doğalgaz),23918.5,EUR
52534,207116,2,2/1/19,Активно,2,26,6-10 arası,3,3,4.0,120.0,İzmir/Buca/Yıldız,Kombi (Doğalgaz),22878.5,EUR
85975,315935,2,12/15/18,12/16/18,2,1,2,10-20 arası,4,4.0,135.0,İstanbul/Bağcılar/Bağlar,Merkezi Sistem (Isı Payı Ölçer),20382.7,EUR
93487,341459,2,9/5/18,10/5/18,2,30,6-10 arası,7,1,3.0,NaN,İstanbul/Sultangazi/Eski Habipler,Merkezi Sistem,22878.5,EUR

In [292]:
mean_size_per_room = (df_rent.loc[df['size'].notna() & df_rent['room_count'].notna(), 'size'] / 
                      df_rent.loc[df['size'].notna() & df_rent['room_count'].notna(), 'room_count']).mean()

# Функция для заполнения NaN в size
def fill_size(row):
    if pd.isna(row['size']) and pd.notna(row['room_count']):
        return mean_size_per_room * row['room_count']
    else:
        return row['size']

# Применяем заполнение к датафрейму
df_rent['size'] = df_rent.apply(fill_size, axis=1)

In [293]:
df_rent.describe()

,id,type,listing_type,tom,floor_no,room_count,size,price
count,102604.0,102604.0,102604.0,102604.0,102604.0,102604.0,102604.0,102604.0
mean,197617.4,2.0,2.0,47.6,3.1,3.5,112.2,64.9
std,105720.8,0.5,0.0,40.9,3.3,1.1,48.4,434.6
min,1.0,1.0,2.0,0.0,0.0,1.0,1.0,-5.2
25%,112802.8,2.0,2.0,19.0,1.0,3.0,85.0,18.1
50%,203716.0,2.0,2.0,30.0,2.0,4.0,105.0,25.0
75%,285046.2,2.0,2.0,65.0,4.0,4.0,126.2,36.4
max,394924.0,11.0,2.0,180.0,20.0,20.0,3450.0,23918.5

In [294]:
df_rent[df_rent['type'] == 1]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
0,1,1,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,3.0,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,72.8,EUR
2,12,1,1/5/19,1/18/19,2,13,2,20 ve üzeri,20,4.0,165.0,İzmir/Bayraklı/Adalet,Fancoil,156.0,EUR
5,19,1,11/22/18,Активно,2,97,2,10-20 arası,13,1.0,50.0,İstanbul/Maltepe/Altayçeşme,Fancoil,41.6,EUR
9,41,1,11/22/18,Активно,2,97,2,10-20 arası,4,2.0,52.0,İstanbul/Maltepe/Altayçeşme,Fancoil,62.4,EUR
14,63,1,11/9/18,12/9/18,2,30,1,8,8,5.0,185.0,İstanbul/Şişli/İnönü,Fancoil,260.0,EUR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102462,386089,1,9/15/18,10/15/18,2,30,6-10 arası,9,0,5.0,157.8,İstanbul/Bakırköy/Ataköy 2-5-6. Kısım,Без обогрева,135.2,EUR
102596,387441,1,12/14/18,1/3/19,2,20,6-10 arası,4,3,5.0,160.0,Muğla/Ortaca/Atatürk,Без обогрева,20.8,EUR
102717,388661,1,12/11/18,1/10/19,2,30,6-10 arası,20 ve üzeri,6,2.0,90.0,İstanbul/Şişli/Mecidiyeköy,Без обогрева,98.8,EUR
102719,388675,1,1/18/19,2/17/19,2,30,4,10-20 arası,4,5.0,200.0,İstanbul/Beşiktaş/Vişnezade,Без обогрева,468.0,EUR
102808,392552,1,1/5/19,Активно,2,53,1,4,0,2.0,55.0,Aydın/Kuşadası/Değirmendere,Без обогрева,208.0,EUR

In [295]:
df_rent.describe()

,id,type,listing_type,tom,floor_no,room_count,size,price
count,102604.0,102604.0,102604.0,102604.0,102604.0,102604.0,102604.0,102604.0
mean,197617.4,2.0,2.0,47.6,3.1,3.5,112.2,64.9
std,105720.8,0.5,0.0,40.9,3.3,1.1,48.4,434.6
min,1.0,1.0,2.0,0.0,0.0,1.0,1.0,-5.2
25%,112802.8,2.0,2.0,19.0,1.0,3.0,85.0,18.1
50%,203716.0,2.0,2.0,30.0,2.0,4.0,105.0,25.0
75%,285046.2,2.0,2.0,65.0,4.0,4.0,126.2,36.4
max,394924.0,11.0,2.0,180.0,20.0,20.0,3450.0,23918.5

In [296]:
df_rent.loc[df_rent['size'] == 3450]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
26240,114479,3,10/15/18,1/13/19,2,90,0,3,0,10.0,3450.0,İstanbul/Beylikdüzü/Gürpınar,Kombi (Doğalgaz),1975.9,EUR

In [297]:
df_rent.loc[df_rent['price'].idxmax()]

id                                 148203
type                                    2
start_date                        9/30/18
end_date                          2/18/19
listing_type                            2
tom                                   141
building_age                            4
total_floor_count                       5
floor_no                                0
room_count                            3.0
size                                 94.7
address              İstanbul/Tuzla/Yayla
heating_type             Kombi (Doğalgaz)
price                             23918.5
price_currency                        EUR
Name: 35456, dtype: object

In [298]:
df_rent[df_rent['price'] < 0]

,id,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
95897,350368,4,1/29/19,Активно,2,29,6-10 arası,2,0,4.0,95.0,İzmir/Kemalpaşa/Beşpınar,Soba (Kömür),-5.2,EUR