In [121]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

In [122]:
df = pd.read_csv("real_estate_data.csv", low_memory=False, index_col="id")

In [123]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
id,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,NaN,210000.0,TRY

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403487 entries, 1 to 403487
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               403487 non-null  object
 1   sub_type           403487 non-null  object
 2   start_date         403487 non-null  object
 3   end_date           266298 non-null  object
 4   listing_type       403487 non-null  int64
 5   tom                403487 non-null  int64
 6   building_age       376097 non-null  object
 7   total_floor_count  375466 non-null  object
 8   floor_no           368191 non-null  object
 9   room_count         403487 non-null  object
 10  size               257481 non-null  float64
 11  address            403487 non-null  object
 12  furnished          0 non-null       float64
 13  heating_type       375517 non-null  object
 14  price              402772 non-null  float64
 15  price_currency     402772 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 52.3+ MB

In [125]:
df.head(10)

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
id,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
6,Konut,Rezidans,11/9/18,12/9/18,1,30,2,10-20 arası,10,1+1,45.0,İstanbul/Maltepe/Altayçeşme,NaN,Fancoil,780000.0,TRY
7,Konut,Daire,1/4/19,NaN,2,54,0,20 ve üzeri,14,3+1,160.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3750.0,TRY
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,NaN,Fancoil,1500000.0,TRY
9,Konut,Daire,2/16/19,NaN,1,11,NaN,2,Kot 2,3+1,140.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),NaN,Fancoil,1500000.0,TRY
10,Konut,Daire,12/26/18,12/26/18,1,0,1,1,Asma Kat,2+2,550.0,İstanbul/Fatih/Sarıdemir,NaN,Fancoil,84256.0,GBP

In [126]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             137189
listing_type              0
tom                       0
building_age          27390
total_floor_count     28021
floor_no              35296
room_count                0
size                 146006
address                   0
furnished            403487
heating_type          27970
price                   715
price_currency          715
dtype: int64

In [127]:
df.drop(columns='furnished', inplace=True)

In [128]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [129]:
df.dropna(subset='price', inplace=True)

In [130]:
df[df['price'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [131]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             136474
listing_type              0
tom                       0
building_age          26992
total_floor_count     27649
floor_no              34698
room_count                0
size                 145392
address                   0
heating_type          27580
price                     0
price_currency            0
dtype: int64

In [132]:
delete = df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]
delete

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
375518,Konut,Villa,12/19/18,NaN,1,70,NaN,NaN,NaN,2+1,95.0,Tekirdağ/Muratlı/Yeşilsırt,NaN,180000.0,TRY
376246,Konut,Daire,11/27/18,NaN,1,92,NaN,NaN,NaN,3+1,NaN,Kocaeli/Gölcük/Piyalepaşa,NaN,185000.0,TRY
376262,Konut,Daire,2/7/19,NaN,2,20,NaN,NaN,NaN,2+1,80.0,İstanbul/Bayrampaşa/Muratpaşa,NaN,1200.0,TRY
376264,Konut,Daire,1/24/19,NaN,1,34,NaN,NaN,NaN,2+1,110.0,Çanakkale/Biga/Sakarya,NaN,155000.0,TRY
376268,Konut,Daire,1/18/19,NaN,1,40,NaN,NaN,NaN,2+1,95.0,Aydın/Kuşadası/Davutlar,NaN,230000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403477,Konut,Daire,2/11/19,NaN,1,16,NaN,NaN,NaN,3+1,110.0,Ankara/Mamak/Araplar,NaN,200000.0,TRY
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY

In [133]:
df.drop(delete.index, inplace=True)

In [134]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403478,Konut,Daire,9/12/18,10/2/18,2,20,NaN,NaN,NaN,2+1,NaN,Konya/Selçuklu/Hanaybaşı,NaN,850.0,TRY
403479,Konut,Daire,10/12/18,11/11/18,1,30,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,500000.0,TRY
403480,Konut,Daire,9/12/18,11/20/18,2,69,NaN,NaN,NaN,3+1,NaN,Aydın/Kuşadası/Türkmen,NaN,1700.0,TRY
403481,Konut,Daire,9/25/18,1/23/19,1,120,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,185000.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [135]:
delete = df[df['floor_no'].isna() & df['total_floor_count'].isna()]
delete

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
210,Konut,Daire,2/15/19,NaN,1,12,0,NaN,NaN,3+1,120.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),Fancoil,1350000.0,TRY
234,Konut,Daire,2/25/19,NaN,2,2,NaN,NaN,NaN,1+1,45.0,Antalya/Muratpaşa/Muratpaşa,Fancoil,100.0,TRY
580,Konut,Daire,2/19/19,NaN,1,8,4,NaN,NaN,2+1,85.0,Muğla/Bodrum/Bitez,Yok,530000.0,TRY
646,Konut,Villa,1/29/19,NaN,1,29,2,NaN,NaN,5+1,160.0,İzmir/Çeşme/Çiftlik,Yok,920000.0,TRY
658,Konut,Villa,1/29/19,NaN,1,29,21-25 arası,NaN,NaN,3+2,250.0,İzmir/Çeşme/Alaçatı,Yok,885000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403478,Konut,Daire,9/12/18,10/2/18,2,20,NaN,NaN,NaN,2+1,NaN,Konya/Selçuklu/Hanaybaşı,NaN,850.0,TRY
403479,Konut,Daire,10/12/18,11/11/18,1,30,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,500000.0,TRY
403480,Konut,Daire,9/12/18,11/20/18,2,69,NaN,NaN,NaN,3+1,NaN,Aydın/Kuşadası/Türkmen,NaN,1700.0,TRY
403481,Konut,Daire,9/25/18,1/23/19,1,120,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,185000.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [136]:
df.drop(delete.index, inplace=True)

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380891 entries, 1 to 394927
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               380891 non-null  object
 1   sub_type           380891 non-null  object
 2   start_date         380891 non-null  object
 3   end_date           253583 non-null  object
 4   listing_type       380891 non-null  int64
 5   tom                380891 non-null  int64
 6   building_age       373215 non-null  object
 7   total_floor_count  375123 non-null  object
 8   floor_no           368074 non-null  object
 9   room_count         380891 non-null  object
 10  size               248130 non-null  float64
 11  address            380891 non-null  object
 12  heating_type       372529 non-null  object
 13  price              380891 non-null  float64
 14  price_currency     380891 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 46.5+ MB

In [138]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             127308
listing_type              0
tom                       0
building_age           7676
total_floor_count      5768
floor_no              12817
room_count                0
size                 132761
address                   0
heating_type           8362
price                     0
price_currency            0
dtype: int64

In [139]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394883,Konut,Müstakil Ev,10/4/18,11/5/18,1,32,26-30 arası,1,NaN,2+1,NaN,KKTC/İskele/Boğaz Mh.,NaN,35000.0,GBP
394903,Konut,Prefabrik Ev,12/4/18,1/3/19,1,30,NaN,1,NaN,1+1,40.0,İstanbul/Pendik/Kaynarca,NaN,31500.0,TRY
394917,Konut,Müstakil Ev,12/18/18,2/16/19,1,60,0,2,NaN,5+2,315.0,Muğla/Bodrum/Gündoğan,NaN,5500000.0,TRY
394924,Konut,Daire,9/25/18,9/27/18,2,2,16-20 arası,4,NaN,1+1,NaN,Muğla/Marmaris/Kemeraltı,NaN,800.0,TRY
394927,Konut,Daire,11/27/18,NaN,2,92,NaN,3,NaN,1+1,85.0,Bursa/Nilüfer/Çalı,NaN,700.0,TRY

In [140]:
df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [141]:
df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [142]:
df[df['total_floor_count'].isna() & df['floor_no'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [143]:
df[df['size'].isna()]

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,Fancoil,1500000.0,TRY
13,Konut,Daire,9/13/18,10/13/18,1,30,0,3,2,2+1,NaN,Aydın/Efeler/Ata,Fancoil,270000.0,TRY
14,Konut,Rezidans,10/3/18,11/2/18,1,30,0,10-20 arası,11,2+1,NaN,Mersin/Yenişehir/Akkent,Fancoil,270000.0,TRY
15,Konut,Daire,9/22/18,NaN,1,158,1,4,3,3+1,NaN,Manisa/Turgutlu/Şehitler,Fancoil,75000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394823,Konut,Daire,9/26/18,11/25/18,1,60,0,4,NaN,3+1,NaN,İstanbul/Küçükçekmece/Yeşilova,NaN,430000.0,TRY
394855,Konut,Daire,10/15/18,11/7/18,1,23,0,5,NaN,2+1,NaN,Manisa/Turgutlu/Cumhuriyet,NaN,60000.0,TRY
394878,Konut,Daire,10/11/18,10/11/18,1,0,0,6,NaN,3+1,NaN,Bursa/Osmangazi/Hamitler,NaN,350000.0,TRY
394883,Konut,Müstakil Ev,10/4/18,11/5/18,1,32,26-30 arası,1,NaN,2+1,NaN,KKTC/İskele/Boğaz Mh.,NaN,35000.0,GBP
394924,Konut,Daire,9/25/18,9/27/18,2,2,16-20 arası,4,NaN,1+1,NaN,Muğla/Marmaris/Kemeraltı,NaN,800.0,TRY

In [144]:
df.sub_type.value_counts()

sub_type
Daire                  336511
Villa                   19563
Müstakil Ev              8050
Rezidans                 7237
Yazlık                   5603
Komple Bina              2415
Prefabrik Ev              516
Çiftlik Evi               443
Köşk / Konak / Yalı       276
Yalı Dairesi              180
Kooperatif                 65
Loft                       32
Name: count, dtype: int64

In [145]:
df.sub_type.unique()

array(['Rezidans', 'Daire', 'Villa', 'Müstakil Ev', 'Kooperatif',
       'Yazlık', 'Komple Bina', 'Prefabrik Ev', 'Köşk / Konak / Yalı',
       'Çiftlik Evi', 'Yalı Dairesi', 'Loft'], dtype=object)

In [146]:
dct = {}
i = 1
for name in df.sub_type.unique():
    dct[name] = i
    i+=1
dct

{'Rezidans': 1,
 'Daire': 2,
 'Villa': 3,
 'Müstakil Ev': 4,
 'Kooperatif': 5,
 'Yazlık': 6,
 'Komple Bina': 7,
 'Prefabrik Ev': 8,
 'Köşk / Konak / Yalı': 9,
 'Çiftlik Evi': 10,
 'Yalı Dairesi': 11,
 'Loft': 12}

In [147]:
df['sub_type'] = df['sub_type'].map(dct)

In [148]:
df.drop('type',axis=1, inplace=True)
df.rename(columns={'sub_type': 'type'}, inplace=True)

In [149]:
df

,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,
1,1,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,2,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,2,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,1,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,1,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394883,4,10/4/18,11/5/18,1,32,26-30 arası,1,NaN,2+1,NaN,KKTC/İskele/Boğaz Mh.,NaN,35000.0,GBP
394903,8,12/4/18,1/3/19,1,30,NaN,1,NaN,1+1,40.0,İstanbul/Pendik/Kaynarca,NaN,31500.0,TRY
394917,4,12/18/18,2/16/19,1,60,0,2,NaN,5+2,315.0,Muğla/Bodrum/Gündoğan,NaN,5500000.0,TRY
394924,2,9/25/18,9/27/18,2,2,16-20 arası,4,NaN,1+1,NaN,Muğla/Marmaris/Kemeraltı,NaN,800.0,TRY
394927,2,11/27/18,NaN,2,92,NaN,3,NaN,1+1,85.0,Bursa/Nilüfer/Çalı,NaN,700.0,TRY

In [150]:
df.total_floor_count.value_counts()

total_floor_count
4              83046
3              77933
5              70019
10-20 arası    36505
2              27732
6              23192
10             12549
7              12278
8              11204
9               9024
20 ve üzeri     6678
1               4963
Name: count, dtype: int64

In [151]:
df['total_floor_count'].isna().value_counts()

total_floor_count
False    375123
True       5768
Name: count, dtype: int64

In [152]:
df.floor_no.value_counts()

floor_no
2               65847
3               52676
1               46749
4               34456
Yüksek Giriş    24037
5               21186
Müstakil        21161
Bahçe katı      19059
Giriş Katı      10424
6                9742
7                7696
8                6098
Kot 1            5028
Kot 2            4984
9                4855
10               3863
Kot 3            3785
Çatı Katı        3565
Zemin Kat        3440
Komple           2958
11               2892
12               2309
Kot 4            2265
13               1701
20 ve üzeri      1562
14               1328
15                911
En Üst Kat        894
Bodrum Kat        814
16                600
17                373
18                334
Teras Kat         293
19                177
Asma Kat           12
Name: count, dtype: int64

### Giriş Katı - Цокольный этаж
### Müstakil - Дом
### Bahçe katı - садовый этаж
### Yüksek Giriş - 1 этаж
### Kot - просто этаж но по умному
### Teras Kat - Терасса
### Asma Kat - надстройка
### Zemin Kat - Цокольный
### Çatı Katı - пентхаус

In [153]:
df.drop(df[df['floor_no'] == 'Asma Kat'].index, axis=0, inplace=True)

In [154]:
df.replace(to_replace=['Zemin Kat', 'Giriş Katı'], value=0, inplace=True)

In [155]:
df.floor_no.value_counts()

floor_no
2               65847
3               52676
1               46749
4               34456
Yüksek Giriş    24037
5               21186
Müstakil        21161
Bahçe katı      19059
0               13864
6                9742
7                7696
8                6098
Kot 1            5028
Kot 2            4984
9                4855
10               3863
Kot 3            3785
Çatı Katı        3565
Komple           2958
11               2892
12               2309
Kot 4            2265
13               1701
20 ve üzeri      1562
14               1328
15                911
En Üst Kat        894
Bodrum Kat        814
16                600
17                373
18                334
Teras Kat         293
19                177
Name: count, dtype: int64

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 380879 entries, 1 to 394927
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               380879 non-null  int64
 1   start_date         380879 non-null  object
 2   end_date           253576 non-null  object
 3   listing_type       380879 non-null  int64
 4   tom                380879 non-null  int64
 5   building_age       373203 non-null  object
 6   total_floor_count  375111 non-null  object
 7   floor_no           368062 non-null  object
 8   room_count         380879 non-null  object
 9   size               248123 non-null  float64
 10  address            380879 non-null  object
 11  heating_type       372517 non-null  object
 12  price              380879 non-null  float64
 13  price_currency     380879 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 43.6+ MB

In [157]:
df.isna().sum()

type                      0
start_date                0
end_date             127303
listing_type              0
tom                       0
building_age           7676
total_floor_count      5768
floor_no              12817
room_count                0
size                 132756
address                   0
heating_type           8362
price                     0
price_currency            0
dtype: int64

In [158]:
df = df[df['building_age'].notna()]
df = df[df['total_floor_count'].notna()]
df = df[df['floor_no'].notna()]

In [159]:
df.isna().sum()

type                      0
start_date                0
end_date             117783
listing_type              0
tom                       0
building_age              0
total_floor_count         0
floor_no                  0
room_count                0
size                 124419
address                   0
heating_type           4855
price                     0
price_currency            0
dtype: int64

In [161]:
df['end_date'].fillna('Активно', inplace=True)
df['heating_type'].fillna('Без обогрева',inplace=True)

In [162]:
df.isna().sum()

type                      0
start_date                0
end_date                  0
listing_type              0
tom                       0
building_age              0
total_floor_count         0
floor_no                  0
room_count                0
size                 124419
address                   0
heating_type              0
price                     0
price_currency            0
dtype: int64

In [166]:
df['price_currency'].value_counts()

price_currency
TRY    355684
EUR       719
GBP       403
USD       389
Name: count, dtype: int64

In [163]:
df_sell = df[df['listing_type'] == 1]
df_rent = df[df['listing_type'] == 2]

In [164]:
df_sell

,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,
2,2,2/13/19,Активно,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,2,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,1,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,1,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
6,1,11/9/18,12/9/18,1,30,2,10-20 arası,10,1+1,45.0,İstanbul/Maltepe/Altayçeşme,Fancoil,780000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388917,2,12/13/18,1/12/19,1,30,0,3,3,2+1,110.0,Antalya/Manavgat/Sarılar,Без обогрева,188000.0,TRY
388919,3,10/27/18,2/7/19,1,103,0,2,Müstakil,4+1,250.0,İzmir/Çeşme/Reisdere,Без обогрева,1150000.0,TRY
388921,2,11/23/18,1/16/19,1,54,6-10 arası,4,2,1+1,55.0,Aydın/Didim/Efeler,Без обогрева,160000.0,TRY
388923,2,11/29/18,Активно,1,90,11-15 arası,9,Kot 3,2+1,100.0,Antalya/Alanya/Mahmutlar,Без обогрева,220000.0,TRY
388925,2,2/7/19,2/22/19,1,15,31-35 arası,4,1,3+1,110.0,İzmir/Karabağlar/Üçkuyular,Без обогрева,250000.0,TRY

In [165]:
df_rent

,type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,
1,1,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
7,2,1/4/19,Активно,2,54,0,20 ve üzeri,14,3+1,160.0,İstanbul/Kartal/Kordonboyu,Fancoil,3750.0,TRY
12,1,1/5/19,1/18/19,2,13,2,20 ve üzeri,20 ve üzeri,3+1,165.0,İzmir/Bayraklı/Adalet,Fancoil,7500.0,TRY
18,2,12/10/18,1/9/19,2,30,0,20 ve üzeri,20 ve üzeri,2+1,84.0,İstanbul/Kartal/Kordonboyu,Fancoil,4200.0,TRY
19,1,11/22/18,Активно,2,97,2,10-20 arası,13,1+0,50.0,İstanbul/Maltepe/Altayçeşme,Fancoil,2000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388867,2,11/7/18,1/23/19,2,77,11-15 arası,5,2,2+1,85.0,Balıkesir/Bandırma/Hacı Yusuf,Без обогрева,650.0,TRY
388885,2,10/17/18,12/5/18,2,49,1,4,1,1+1,NaN,Mersin/Yenişehir/Çiftlikköy,Без обогрева,800.0,TRY
388897,2,10/10/18,10/23/18,2,13,4,4,1,2+1,75.0,İzmir/Narlıdere/Çatalkaya,Без обогрева,1400.0,TRY
388901,2,11/23/18,11/25/18,2,2,5,3,1,3+1,110.0,Ankara/Etimesgut/İstasyon,Без обогрева,850.0,TRY
388915,2,12/19/18,Активно,2,70,40 ve üzeri,3,Kot 3,3+2,130.0,Muğla/Milas/İsmet Paşa,Без обогрева,850.0,TRY

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357195 entries, 1 to 388925
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               357195 non-null  int64
 1   start_date         357195 non-null  object
 2   end_date           239412 non-null  object
 3   listing_type       357195 non-null  int64
 4   tom                357195 non-null  int64
 5   building_age       357195 non-null  object
 6   total_floor_count  357195 non-null  object
 7   floor_no           357195 non-null  object
 8   room_count         357195 non-null  object
 9   size               232776 non-null  float64
 10  address            357195 non-null  object
 11  heating_type       352340 non-null  object
 12  price              357195 non-null  float64
 13  price_currency     357195 non-null  object
dtypes: float64(2), int64(3), object(9)
memory usage: 40.9+ MB