In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

In [2]:
df = pd.read_csv("real_estate_data.csv", low_memory=False, index_col="id")

In [3]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
id,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,NaN,210000.0,TRY

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403487 entries, 1 to 403487
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   type               403487 non-null  object
 1   sub_type           403487 non-null  object
 2   start_date         403487 non-null  object
 3   end_date           266298 non-null  object
 4   listing_type       403487 non-null  int64
 5   tom                403487 non-null  int64
 6   building_age       376097 non-null  object
 7   total_floor_count  375466 non-null  object
 8   floor_no           368191 non-null  object
 9   room_count         403487 non-null  object
 10  size               257481 non-null  float64
 11  address            403487 non-null  object
 12  furnished          0 non-null       float64
 13  heating_type       375517 non-null  object
 14  price              402772 non-null  float64
 15  price_currency     402772 non-null  object
dtypes: float64(3), int64(2), object(11)
memory usage: 52.3+ MB

In [5]:
df.head(10)

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,furnished,heating_type,price,price_currency
id,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,NaN,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,NaN,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,1450000.0,TRY
6,Konut,Rezidans,11/9/18,12/9/18,1,30,2,10-20 arası,10,1+1,45.0,İstanbul/Maltepe/Altayçeşme,NaN,Fancoil,780000.0,TRY
7,Konut,Daire,1/4/19,NaN,2,54,0,20 ve üzeri,14,3+1,160.0,İstanbul/Kartal/Kordonboyu,NaN,Fancoil,3750.0,TRY
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,NaN,Fancoil,1500000.0,TRY
9,Konut,Daire,2/16/19,NaN,1,11,NaN,2,Kot 2,3+1,140.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),NaN,Fancoil,1500000.0,TRY
10,Konut,Daire,12/26/18,12/26/18,1,0,1,1,Asma Kat,2+2,550.0,İstanbul/Fatih/Sarıdemir,NaN,Fancoil,84256.0,GBP

In [6]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             137189
listing_type              0
tom                       0
building_age          27390
total_floor_count     28021
floor_no              35296
room_count                0
size                 146006
address                   0
furnished            403487
heating_type          27970
price                   715
price_currency          715
dtype: int64

In [7]:
df.drop(columns='furnished', inplace=True)

In [8]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [9]:
df.dropna(subset='price', inplace=True)

In [10]:
df[df['price'].isna()]

Empty DataFrame
Columns: [type, sub_type, start_date, end_date, listing_type, tom, building_age, total_floor_count, floor_no, room_count, size, address, heating_type, price, price_currency]
Index: []

In [11]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             136474
listing_type              0
tom                       0
building_age          26992
total_floor_count     27649
floor_no              34698
room_count                0
size                 145392
address                   0
heating_type          27580
price                     0
price_currency            0
dtype: int64

In [12]:
delete = df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]
delete

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
375518,Konut,Villa,12/19/18,NaN,1,70,NaN,NaN,NaN,2+1,95.0,Tekirdağ/Muratlı/Yeşilsırt,NaN,180000.0,TRY
376246,Konut,Daire,11/27/18,NaN,1,92,NaN,NaN,NaN,3+1,NaN,Kocaeli/Gölcük/Piyalepaşa,NaN,185000.0,TRY
376262,Konut,Daire,2/7/19,NaN,2,20,NaN,NaN,NaN,2+1,80.0,İstanbul/Bayrampaşa/Muratpaşa,NaN,1200.0,TRY
376264,Konut,Daire,1/24/19,NaN,1,34,NaN,NaN,NaN,2+1,110.0,Çanakkale/Biga/Sakarya,NaN,155000.0,TRY
376268,Konut,Daire,1/18/19,NaN,1,40,NaN,NaN,NaN,2+1,95.0,Aydın/Kuşadası/Davutlar,NaN,230000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403477,Konut,Daire,2/11/19,NaN,1,16,NaN,NaN,NaN,3+1,110.0,Ankara/Mamak/Araplar,NaN,200000.0,TRY
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY

In [13]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY
403487,Konut,Daire,1/15/19,1/18/19,1,3,NaN,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY

In [14]:
df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
375518,Konut,Villa,12/19/18,NaN,1,70,NaN,NaN,NaN,2+1,95.0,Tekirdağ/Muratlı/Yeşilsırt,NaN,180000.0,TRY
376246,Konut,Daire,11/27/18,NaN,1,92,NaN,NaN,NaN,3+1,NaN,Kocaeli/Gölcük/Piyalepaşa,NaN,185000.0,TRY
376262,Konut,Daire,2/7/19,NaN,2,20,NaN,NaN,NaN,2+1,80.0,İstanbul/Bayrampaşa/Muratpaşa,NaN,1200.0,TRY
376264,Konut,Daire,1/24/19,NaN,1,34,NaN,NaN,NaN,2+1,110.0,Çanakkale/Biga/Sakarya,NaN,155000.0,TRY
376268,Konut,Daire,1/18/19,NaN,1,40,NaN,NaN,NaN,2+1,95.0,Aydın/Kuşadası/Davutlar,NaN,230000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403477,Konut,Daire,2/11/19,NaN,1,16,NaN,NaN,NaN,3+1,110.0,Ankara/Mamak/Araplar,NaN,200000.0,TRY
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY

In [15]:
df[df['end_date'].isna() & df['floor_no'].isna() & df['total_floor_count'].isna() & df['building_age'].isna() & df['heating_type'].isna()]

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
375518,Konut,Villa,12/19/18,NaN,1,70,NaN,NaN,NaN,2+1,95.0,Tekirdağ/Muratlı/Yeşilsırt,NaN,180000.0,TRY
376246,Konut,Daire,11/27/18,NaN,1,92,NaN,NaN,NaN,3+1,NaN,Kocaeli/Gölcük/Piyalepaşa,NaN,185000.0,TRY
376262,Konut,Daire,2/7/19,NaN,2,20,NaN,NaN,NaN,2+1,80.0,İstanbul/Bayrampaşa/Muratpaşa,NaN,1200.0,TRY
376264,Konut,Daire,1/24/19,NaN,1,34,NaN,NaN,NaN,2+1,110.0,Çanakkale/Biga/Sakarya,NaN,155000.0,TRY
376268,Konut,Daire,1/18/19,NaN,1,40,NaN,NaN,NaN,2+1,95.0,Aydın/Kuşadası/Davutlar,NaN,230000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403477,Konut,Daire,2/11/19,NaN,1,16,NaN,NaN,NaN,3+1,110.0,Ankara/Mamak/Araplar,NaN,200000.0,TRY
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR
403486,Konut,Daire,2/21/19,NaN,2,6,NaN,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY

In [16]:
df[df['size'].isna()]

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency
id,,,,,,,,,,,,,,,
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,Fancoil,1500000.0,TRY
13,Konut,Daire,9/13/18,10/13/18,1,30,0,3,2,2+1,NaN,Aydın/Efeler/Ata,Fancoil,270000.0,TRY
14,Konut,Rezidans,10/3/18,11/2/18,1,30,0,10-20 arası,11,2+1,NaN,Mersin/Yenişehir/Akkent,Fancoil,270000.0,TRY
15,Konut,Daire,9/22/18,NaN,1,158,1,4,3,3+1,NaN,Manisa/Turgutlu/Şehitler,Fancoil,75000.0,TRY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403480,Konut,Daire,9/12/18,11/20/18,2,69,NaN,NaN,NaN,3+1,NaN,Aydın/Kuşadası/Türkmen,NaN,1700.0,TRY
403481,Konut,Daire,9/25/18,1/23/19,1,120,NaN,NaN,NaN,3+1,NaN,Aydın/Didim/Efeler,NaN,185000.0,TRY
403483,Konut,Daire,9/18/18,NaN,2,162,NaN,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY
403484,Konut,Daire,10/11/18,NaN,1,139,NaN,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY
403485,Konut,Daire,11/22/18,NaN,1,97,NaN,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR

In [17]:
from datetime import date
def calculate_age(day, month, year):
    today = date.today()
    birthdate = date(year, month, day)
    age = today.year - birthdate.year - ((today.month, today.day) < (birthdate.month, birthdate.day))
    return age

In [18]:
def fill_dates_and_age(df):
    # Парсим start_date в datetime
    df['start_date_dt'] = pd.to_datetime(df['start_date'], format='%m/%d/%y', errors='coerce')
    # Парсим end_date в datetime
    df['end_date_dt'] = pd.to_datetime(df['end_date'], format='%m/%d/%y', errors='coerce')
    
    # Функция для расчёта возраста здания от start_date до сегодня, если building_age пустой
    def calc_age_from_start(row):
        if pd.notna(row['building_age']):
            return row['building_age']
        if pd.notna(row['start_date_dt']):
            d = row['start_date_dt']
            return calculate_age(d.day, d.month, d.year)
        return np.nan
    
    # Функция для расчёта end_date по start_date + building_age
    def calc_end_date(row):
        if pd.notna(row['end_date_dt']):
            return row['end_date_dt']
        if pd.notna(row['start_date_dt']) and pd.notna(row['building_age']):
            # Прибавляем building_age лет к start_date
            try:
                new_year = row['start_date_dt'].year + int(row['building_age'])
                new_date = row['start_date_dt'].replace(year=new_year)
                return new_date
            except:
                return pd.NaT
        return pd.NaT
    
    # Заполняем building_age, если пустой
    df['building_age'] = df.apply(calc_age_from_start, axis=1)
    # Заполняем end_date, если пустой
    df['end_date_dt'] = df.apply(calc_end_date, axis=1)
    
    # Удаляем строки, где после расчетов нет необходимых значений
    df = df.dropna(subset=['building_age', 'end_date_dt', 'start_date_dt'])
    
    # Обновим колонки end_date в формате ММ/ДД/ГГ
    df['end_date'] = df['end_date_dt'].dt.strftime('%m/%d/%y')
    # Можно удалить вспомогательные колонки
    df = df.drop(columns=['start_date_dt', 'end_date_dt'])

In [21]:
fill_dates_and_age(df)

C:\Users\user\AppData\Local\Temp\ipykernel_1888\2864172508.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['end_date'] = df['end_date_dt'].dt.strftime('%m/%d/%y')

In [25]:
df

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency,start_date_dt,end_date_dt
id,,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY,2018-12-10,2019-01-09
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY,2019-02-13,2019-02-13
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY,2018-10-09,2018-11-08
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY,2018-09-10,2018-10-10
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY,2018-12-10,2019-01-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403483,Konut,Daire,9/18/18,NaN,2,162,6,NaN,NaN,+,NaN,İstanbul/Sultanbeyli/Adil,NaN,1500.0,TRY,2018-09-18,2024-09-18
403484,Konut,Daire,10/11/18,NaN,1,139,6,NaN,NaN,2+1,NaN,Sakarya/Adapazarı/Cumhuriyet,NaN,120000.0,TRY,2018-10-11,2024-10-11
403485,Konut,Daire,11/22/18,NaN,1,97,6,NaN,NaN,1+1,NaN,Antalya/Alanya/Saray,NaN,48000.0,EUR,2018-11-22,2024-11-22
403486,Konut,Daire,2/21/19,NaN,2,6,6,NaN,NaN,2+1,2.0,Aydın/Kuşadası/Türkmen,NaN,900.0,TRY,2019-02-21,2025-02-21
403487,Konut,Daire,1/15/19,1/18/19,1,3,6,NaN,NaN,3+1,140.0,Kayseri/Melikgazi/Alpaslan,NaN,210000.0,TRY,2019-01-15,2019-01-18

In [22]:
df.head(10)

,type,sub_type,start_date,end_date,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency,start_date_dt,end_date_dt
id,,,,,,,,,,,,,,,,,
1,Konut,Rezidans,12/10/18,1/9/19,2,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,3500.0,TRY,2018-12-10,2019-01-09
2,Konut,Daire,2/13/19,NaN,1,14,0,20 ve üzeri,20 ve üzeri,1+0,43.0,İstanbul/Kartal/Kordonboyu,Fancoil,490000.0,TRY,2019-02-13,2019-02-13
3,Konut,Daire,10/9/18,11/8/18,1,30,0,1,Yüksek Giriş,2+1,NaN,Tekirdağ/Çorlu/Reşadiye,Fancoil,155000.0,TRY,2018-10-09,2018-11-08
4,Konut,Rezidans,9/10/18,10/10/18,1,30,3,20 ve üzeri,20 ve üzeri,6+1,450.0,İstanbul/Beşiktaş/Levent,Fancoil,32500000.0,TRY,2018-09-10,2018-10-10
5,Konut,Rezidans,12/10/18,1/9/19,1,30,0,20 ve üzeri,2,2+1,90.0,İstanbul/Kartal/Kordonboyu,Fancoil,1450000.0,TRY,2018-12-10,2019-01-09
6,Konut,Rezidans,11/9/18,12/9/18,1,30,2,10-20 arası,10,1+1,45.0,İstanbul/Maltepe/Altayçeşme,Fancoil,780000.0,TRY,2018-11-09,2018-12-09
7,Konut,Daire,1/4/19,NaN,2,54,0,20 ve üzeri,14,3+1,160.0,İstanbul/Kartal/Kordonboyu,Fancoil,3750.0,TRY,2019-01-04,2019-01-04
8,Konut,Villa,10/3/18,1/3/19,1,92,0,4,NaN,4+1,NaN,İzmir/Urla/M. Fevzi Çakmak,Fancoil,1500000.0,TRY,2018-10-03,2019-01-03
9,Konut,Daire,2/16/19,NaN,1,11,6,2,Kot 2,3+1,140.0,Çanakkale/Ayvacık/Küçükkuyu Bld. (Mıhlı),Fancoil,1500000.0,TRY,2019-02-16,2025-02-16
10,Konut,Daire,12/26/18,12/26/18,1,0,1,1,Asma Kat,2+2,550.0,İstanbul/Fatih/Sarıdemir,Fancoil,84256.0,GBP,2018-12-26,2018-12-26

In [24]:
df.building_age.value_counts()

building_age
0              139937
6-10 arası      50483
11-15 arası     32295
16-20 arası     31323
6               26746
1               20353
4               19029
21-25 arası     18430
2               17461
3               15646
5               13583
26-30 arası     10571
31-35 arası      4266
36-40 arası      1345
40 ve üzeri      1058
7                 246
Name: count, dtype: int64

In [23]:
df.isna().sum()

type                      0
sub_type                  0
start_date                0
end_date             136474
listing_type              0
tom                       0
building_age              0
total_floor_count     27649
floor_no              34698
room_count                0
size                 145392
address                   0
heating_type          27580
price                     0
price_currency            0
start_date_dt             0
end_date_dt           49562
dtype: int64